/* no mobile browser font witchcraft */
html, body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    height: 100%;
}

a[href] {
    color: #66d9ef;
}

.window_container {
    /* background-color: rgb(23, 32, 42, 0.75); */
    background-color: black;
    border: 3px solid #17202a;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 20px; 
}

.window_top {
    background-color: #212f3d;
    box-sizing: border-box;
    padding: 5px;
}

.window_title {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    font-weight: bold;
}

.window_dot {
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 12px;
    margin-right: 10px;
    width: 12px;
}

.bg-success {
    background-color: #9fef00 !important;
}

.bg-warning {
    background-color: #ffaf00 !important;
}

.bg-danger {
    background-color: #ff3e3e !important;
}
